label{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color:rgb(202, 169, 132)
   }
   a{
       color: #791;
       text-decoration: none;
   }